a.navbar-brand{
	color:#F2B20E !important;
	font-weight: bold;
	line-height: 13px;
}

.navbar-brand > small{
	color:#CCC !important;
	font-size: 11px;
	font-weight: normal;
}

.layer-scroll{
	min-height: 100%;
	margin-bottom: 8%;
}

.navbar-inverse{
	background: #333;
}
.navbar-nav > li > a{
	color: #FFF;
}



/* jiup */
.dvPreview{
	position: relative;
	width: 102px; 
	height:102px;
	cursor: pointer;
	padding:2px;
	border:1px solid #CCC;
	margin-right: 10px;
	float: left;
}

.dvPreview span{
	color:#f90;
}