a.navbar-brand{
	color:#F2B20E !important;
	font-weight: bold;
	line-height: 13px;
}

.navbar-brand > small{
	color:#CCC !important;
	font-size: 11px;
	font-weight: normal;
}

.layer-scroll{
	min-height: 100%;
	margin-bottom: 8%;
}

.navbar-inverse{
	background: #333;
}
.navbar-nav > li > a{
	color: #FFF;
}



/* jiup */
.contentPreview{
	position: relative;
	width: 102px; 
	height:102px;
	z-index: 1;
	float: left;	
	margin-right: 10px;
}
.dvPreview{		
	cursor: pointer;
	padding:2px;
	border:1px solid #CCC;
}

.dvPreview span{
	color: #333;
    display: block;
    font-size: 12px;
    margin: 6px;
}

.dvPreview img.camera{
	margin-top:20px;
	width:40%;
}

.dvPreview button{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

